extends layout
block body
  #main-content
    .intro
      .hero-image(style="background-image: url(/img/hero.png);")
      .container
        .hero-text
          h1 你的演唱会，你做主。
          h2 在全国34个城市找到你想去的演唱会，你的支持将使其成为现实。
        .hero-search
          form(id="search-form", method="post", action="")
            input#city(type="text", name="city", placeholder="你所在的城市")
            input#singer(type="text", name="category", placeholder="歌手")
            input#time(type="text", name="time", placeholder="时间")
            input#category(type="text", name="category", placeholder="类别")
            input(type="submit", value="搜索")
    .container
      .section
        h2 推荐歌手
        .featured-container
          - for (var i = 0; i < 4; ++i) {
            .featured-item
              a.control(href="artist/#{artists[i]._id}",target="_blank")
                .featured-img(style="background-image:url('img/#{artists[i].poster}')")
                .artist-name
                  h3 #{artists[i].name}
          - } 
      .section
        .section-header
          h2.main-title 最新项目
          if user && user.city
            h2.second-title #{user.city}
              a.control(href="project/1", target="_blank") 更换城市
          else
            h2.second-title 北京
              a.control(href="project/1", target="_blank") 更换城市
          each project in projects
            .project-card-wide
              .project-card-lead
                .project-card-img(style="background-image:url(/img/#{project.artist.poster})")
                a.project-card-button(href="/project/#{project.id}", target="_blank") 我要去
              .project-card-detail
                .project-card-singer
                  h3 #{project.artist.name}
                .project-card-date
                  h3 #{project.performance_time}
                .project-card-des
                  p #{project.artist.introduction}
                h4.project-card-city
                  span.city #{project.venue.city}
                .project-card-other-city
                  a(href="http://", target="_blank") 查看其它城市
                .project-progress
                  .progress-bar(style="width:60%")
                .project-card-number 2412/3000
        .project-card-container
          .project-card-small
            .project-card-lead
              .project-card-img(style="background-image:url(/img/card3.png)")
              a.project-card-button(href="http://", target="_blank") 我要去
            .project-card-detail
              .project-card-singer
                h3 田馥甄
              .project-card-date
                h3 2013.11.15
              h4.project-card-city
                span.city 北京
                span.venue 五棵松体育馆
              .project-card-other-city
                a(href="http://", target="_blank") 查看其它城市
              .project-progress
                .progress-bar(style="width:40%")
              .project-card-number 1412/3000
          .project-card-small
            .project-card-lead
              .project-card-img(style="background-image:url(/img/card4.png)")
              a.project-card-button(href="http://", target="_blank") 我要去
            .project-card-detail
              .project-card-singer
                h3 林俊杰
              .project-card-date
                h3 2013.11.15
              h4.project-card-city
                span.city 北京
                span.venue 五棵松体育馆
              .project-card-other-city
                a(href="http://", target="_blank") 查看其它城市
              .project-progress
                .progress-bar(style="width:40%")
              .project-card-number 1412/3000
          .project-card-small
            .project-card-lead
              .project-card-img(style="background-image:url(/img/card5.png)")
              a.project-card-button(href="http://", target="_blank") 我要去
            .project-card-detail
              .project-card-singer
                h3 蔡依林
              .project-card-date
                h3 2013.11.15
              h4.project-card-city
                span.city 北京
                span.venue 五棵松体育馆
              .project-card-other-city
                a(href="http://", target="_blank") 查看其它城市
              .project-progress
                .progress-bar(style="width:40%")
              .project-card-number 1412/3000
      .section
        h2 演出类别
        ul.category-links
          li.category-item 
            a(href="http://", target="_blank") 流行
          li.category-item
            a(href="http://", target="_blank") 摇滚
          li.category-item
            a(href="http://", target="_blank") 民族
          li.category-item
            a(href="http://", target="_blank") 校园
          li.category-item
            a(href="http://", target="_blank") 原创
          li.category-item
            a(href="http://", target="_blank") 比赛
          li.category-item 
            a(href="http://", target="_blank") 流行
          li.category-item
            a(href="http://", target="_blank") 摇滚
          li.category-item
            a(href="http://", target="_blank") 民族
          li.category-item
            a(href="http://", target="_blank") 校园
          li.category-item
            a(href="http://", target="_blank") 原创
          li.category-item
            a(href="http://", target="_blank") 比赛
          li.category-item
            a(href="http://", target="_blank") 原创
          li.category-item
            a(href="http://", target="_blank") 比赛
  #about
    .hero-image
    .container
      h2.title 我去是什么？
      p.des 我去是一个用户支持演唱会的网络平台。通过这个平台，你有机会以更低的票价在你的城市参加你喜欢的演唱会。想了解整个流程？
        a(href="http://", target="_blank") 了解更多