extends layout
block body
  #main-content
    .intro
      .hero-image(style="background-image: url(/img/hero.png);")
      .container
        .hero-text
          h1 你的演唱会，你做主。
          h2 在全国34个城市找到你想去的演唱会，你的支持将使其成为现实。
        .hero-search
          form(id="search-form", method="get", action="search")
            input#city(type="text", name="city", placeholder="你所在的城市")
            input#singer(type="text", name="artist", placeholder="歌手")
            select(name='time' style="height:40px")
              option(value='30') 一个月之内
              option(value='60') 两个月之内
              option(value='120') 四个月之内
              option(value='180') 半年之内
              option(value='' selected='selected') 任何时间
            input#category(type="text", name="type", placeholder="类别")
            input(type="submit", value="搜索")
    .container
      .section
        h2 推荐歌手
        .featured-container
          - for (var i = 0; i < 4; ++i) {
            .featured-item
              a.control(href="artist/#{artists[i]._id}",target="_self")
                .featured-img(style="background-image:url('img/#{artists[i].poster}')")
                .artist-name
                  h3 #{artists[i].name}
          - } 
      .section
        .section-header
          h2.main-title 最新项目
          if user && user.city
            h2.second-title #{user.city}
              a.control(href="project/1", target="_self") 更换城市
          else
            h2.second-title 北京
              a.control(href="project/1", target="_self") 更换城市
          - for (var i = 0; i < 2; i ++) {
          - var project = projects[i];
            .project-card-wide
              .project-card-lead
                .project-card-img(style="background-image:url(/img/#{project.main_poster_url})")
                a.project-card-button(href="/project/#{project.id}", target="_self") 我要去
              .project-card-detail
                .project-card-singer
                   h3  
                    a(href="/artist/#{project.artist._id}", target="_self" style="none") #{project.artist.name}
                   h5(style="margin:0") #{project.name}
                .project-card-date
                  h3 #{timeFormatter('Y年m月d日', project.performance_time)}
                .project-card-des
                  p #{project.artist.introduction}
                h5.project-card-city
                  span.venue 
                     a(href="/venue/#{project.venue._id}" ,target="_self" style="none")  #{project.venue.name}
                .project-progress
                  .progress-bar(style="width:60%")
                .project-card-number 2412/3000
                
           - }
      .project-card-container
        - for (var i = 2; i < 5;i++) {
        - var project = projects[i];
            .project-card-small
              .project-card-lead
                .project-card-img(style="background-image:url(/img/#{project.main_poster_url})")
                a.project-card-button(href="/project/#{project.id}", target="_self") 我要去
              .project-card-detail
                .project-card-singer
                  h3  
                    a(href="/artist/#{project.artist._id}", target="_self" style="none") #{project.artist.name}
                  h5(style="margin:0") #{project.name}
                .project-card-date
                  h3 #{timeFormatter('Y.m.d', project.performance_time)}
                h5.project-card-city
                  span.venue 
                     a(href="/venue/#{project.venue._id}" ,target="_self" style="none")  #{project.venue.name}
                .project-card-number 1412/3000
                .project-progress
                  .progress-bar(style="width:40%")            
         - }
      
      .section
        h2 演出类别
        ul.category-links
          each type in types
            li.category-item 
              a(href="/search?type=#{type}", target="_self") #{type}
         
  #about
    .hero-image
    .container
      h2.title 我去是什么？
      p.des 我去是一个用户支持演唱会的网络平台。通过这个平台，你有机会以更低的票价在你的城市参加你喜欢的演唱会。想了解整个流程？
        a(href="http://", target="_blank") 了解更多