doctype 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-CN">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="zh-CN">
//if IE 8
  <html class="no-js lt-ie9" lang="zh-CN">
//[if gt IE 8]><!
html(class='no-js', lang='zh-CN')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title #{title} 
    meta(name='description', content='')
    meta(name='author', content='')
    
    meta(name='viewport', content='width=device-width,initial-scale=1')
    
    link(rel='stylesheet', href='/stylesheets/css/screen.css')
    link(rel='stylesheet', href='/stylesheets/css/print.css')
    link(rel='stylesheet', href='/stylesheets/css/ie.css')
    
    script(src='js/libs/modernizr-2.0.min.js')
    script(src='js/libs/respond.min.js')
    script(src='js/libs/the_time.js')
  body
    #header
      .container
        a.logo(href="/") 
          img(src="img/logo.png", alt="wowcheer")
        if !user  
          ul.nav-top
                li
                  a(href="/login") 登录
                li
                  a(href="/signup") 注册
                li
                  a(href="/about") 关于
        else 
          ul.nav-top
              li
                a(href="/profile")= user.email
              li
                a(href="/logout") 登出
    block body
    #footer
      .container
        .bottom-nav-discover
          h5 发现项目
          ul.footer-links
            li.footer-link-item 
              a(href="http://", target="_blank") 最新项目
            li.footer-link-item
              a(href="http://", target="_blank") 热门项目
            li.footer-link-item
              a(href="http://", target="_blank") 推荐项目
            li.footer-link-item
              a(href="http://", target="_blank") 成功项目
            li.footer-link-item
              a(href="http://", target="_blank") 赞助商项目
            li.footer-link-item
              a(href="http://", target="_blank") 城市列表
            li.footer-link-item
              a(href="http://", target="_blank") 搜索项目
        .bottom-nav-profile
          h5 我的我去
          ul.footer-links
            li.footer-link-item 
              a(href="http://", target="_blank") 我的主页
            li.footer-link-item
              a(href="http://", target="_blank") 参加的演唱会
            li.footer-link-item
              a(href="http://", target="_blank") 项目列表
            li.footer-link-item
              a(href="http://", target="_blank") 个人设置
            li.footer-link-item
              a(href="http://", target="_blank") 注销我去
        .bottom-nav-about
          h5 关于我去
          ul.footer-links
            li.footer-link-item 
              a(href="http://", target="_blank") 什么是我去？
            li.footer-link-item
              a(href="http://", target="_blank") 项目帮助
            li.footer-link-item
              a(href="http://", target="_blank") 开发团队
            li.footer-link-item
              a(href="http://", target="_blank") 在我去工作
            li.footer-link-item
              a(href="http://", target="_blank") 媒体新闻
            li.footer-link-item
              a(href="http://", target="_blank") 数据统计
        .bottom-nav-contact
          h5 关注我们
          ul.footer-links
            li.footer-link-item 
              a(href="http://", target="_blank") 我去博客
            li.footer-link-item 
              a(href="http://", target="_blank") 订阅我去邮件
            li.footer-link-item 
              a(href="http://", target="_blank") Facebook
            li.footer-link-item 
              a(href="http://", target="_blank") Twitter
            li.footer-link-item 
              a(href="http://", target="_blank") 人人主页
            li.footer-link-item 
              a(href="http://", target="_blank") 新浪微博
        .footer-bottom
          .copy-right © 2013 我去
          ul.footer-bottom-links
            li
              a(href="http://", target="_blank") 帮助中心
            li
              a(href="http://", target="_blank") 联系我们
            li
              a(href="http://", target="_blank") 免责声明
            li
              a(href="http://", target="_blank") 在我去工作
            li
              a(href="http://", target="_blank") 开发团队
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
    script window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\\/script>')
    script(defer, src='js/plugins.js')
    script(defer, src='js/script.js')
    script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));  
    //if lt IE 7
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js', defer)
      script(defer) window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})