extends layout
block body
  #main-content
     .intro(style="height:200px")
      .hero-image(style="background-image: url(/img/profile_background.jpg);")
      .container
        .hero-text
          h1 #{user.username}的个人空间 
     
     .container
      .project
        .project-info
          .section
            .section-header
              h2.main-title 我的演出
              hr
            - if (bookings && bookings.length > 0) {
              - for (var i=0;i<bookings.length;i++){
                - var project = bookings[i].project;
                - var booking = bookings[i];
                  .project-card-wide(style="height:200px")
                    .project-card-lead
                      .project-card-img(style="background-image:url(/img/#{project.main_poster_url})")
                      a.project-card-button(href="/project/#{project.id}", target="_self") 查看
                    .project-card-detail
                      h5 #{project.name}     
                      .project-card-des(style="font-size:10px")
                        span(style='color:rgba(67, 219, 186, 0.95)')已在#{timeFormatter('Y年m月d日 H:i',booking.createdAt)}预定
                        br
                        #{project.description.substr(1,150)}
                      .project-timeline
                        .project-progress
                          .progress-bar(style="width:#{Math.ceil(project.bookingCount / project.sale_limit * 100)}%")
                          .project-card-number #{project.bookingCount} / #{project.sale_limit}
            -}
        
            
            -} else {
              h5  你还没有预定过演出
                a(href="/search")  现在就去搜索 
            -}
        .project-package(style="padding:10px;margin-top:0px;width:24%;background:#ffffff;-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24); -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);")
            .project-stats
              img(src="/img/default_profile.jpg" style="width:100%")
              h5 用户名:
              div #{user.username} 
              h5 城市:
              <input type="text" style="width:90%" value=' #{user.city}' maxlength="6" name="usrname">
              h5 个人简介:
              textarea(style="width:90%") 大家好! 我喜欢音乐
              br
              h5
                a(href="edit" style="float:right") 修改
