extends layout
block body
  #main-content
    .intro
      .hero-image(style="background-image: url(/img/#{project.artist.poster_large});")
      .container
        .hero-text
          h1.artist-name #{project.artist.name} 
          h3.artist-name #{project.name} 
          h2.location #{timeFormatter('Y年m月d日', project.performance_time)} #{project.venue.name}
    .container
      .project
        .project-info
          .project-timeline
            h2 项目进度
            .project-progress
              .progress-bar(style="width:60%")
          .project-des
            h2 项目介绍
            .project-des-wrapper
              if project.video_url
                iframe(src='#{project.video_url}', width='600', height='337', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen')
              #{project.description}
              h3 #{project.artist.name}
              p #{project.artist.introduction}
              .jiathis_style
                span.jiathis_txt 分享到:
                a.jiathis_button_qzone QQ空间
                a.jiathis_button_tsina 新浪微博
                a.jiathis_button_tqq 腾讯QQ
                a.jiathis_button_weixin 微信
                a.jiathis.jiathis_txt.jiathis_separator.jtico.jtico_jiathis(href='http://www.jiathis.com/share', target='_blank') 更多
                a.jiathis_counter_style
              script(type='text/javascript', src='http://v3.jiathis.com/code/jia.js', charset='utf-8')
          .project-comments
            h2 讨论
         
        .project-package
          .project-stats
            span.large-number 3,633
            small 人
            div.text 已经提前预定
            span.large-number 10
            small 天
            div.text 后预定结束
            span.large-number 140
            small 元
            div.text 预定票价 原价
              span.strike 400
              元
          a.btn-primary.block(href="booking", target="_blank") 立即预定